
html, body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    width: 24.7rem;
}

/*header*/

header{
    border-bottom: 1px solid #c6c6c6;
    align-items: center;
}


header .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/*main*/

main{
    margin: 0 auto;
}

.useraccount-info{
    display:flex;
    flex-direction: column;
    margin: 15px auto;
}

.poster-container{
    display:flex;
    flex-direction: row;
}

.username-location{
    font-size: 0.8rem;
    margin: 0;
}

.post-interaction{
    margin-top: 10px;
    margin-left: 7px;
}

.user-caption{
    padding-bottom: 10px;
}

.gap{
    background-color: #c6c6c6;
    height: 20px;
}

/*typography*/

h2,h3{
    font-size: 0.9rem;
    margin: 0;
}

.bold{
    font-weight: 800;
    margin-left: 0.3rem;
}

.usertext{
    font-size: 0.9rem; 
    font-weight: 500;
    margin-left: 0.3rem;
    display: inline;
}

/* images */

#oldagram-logo{
    width: 130px;
    height: 55px;
}

.avatar-img, #avatar-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.avatar-img, .likes, .user-caption{
    margin-left: 10px;
    margin-bottom: 0px;
}

.post-img{
    width: 395px;
    height: 395px;
    margin: 0;
}

.icon-img{
    width: 35px;
    height: 35px;
    margin: 5px;
}

